{% extends "Booking/base.html" %}

{% block content %}
<div class="container bg-white p-5 mt-3">
    <div class="container-md justify-content-center d-flex mt-3">
        <div class="col-12">
            <h2 class="row-3 d-flex justify-content-center display-5">Appointments</h2>
            <p class="row-3 d-flex justify-content-center">You are viewing appointments
                for&nbsp;<strong>{{ user.username }}</strong></p>
        </div>
    </div>
    {% if has_booked_slots %}
    {% for item in booked %}
    {% if user == item.customer %}
    <div class="d-flex justify-content-center mt-3">
        <div class="container card bg-light text-center" style="width: 18rem;">
            <div class="row card-body d-flex justify-content-center">
                <p class="card-header">{{ item.slot }}</p>
                <p class="card-text">Comment:<br>{{ item.comment }}</p>
                <a href="/edit/{{ item.id }}">
                    <button class="btn btn-primary m-2">Edit</button>
                </a>
                <a href="/delete/{{ item.id }}">
                    <button class="btn btn-danger m-2">Delete</button>
                </a>
            </div>
        </div>
    </div>
    {% endif %}
    {% endfor %}
    {% else %}
    <div class="d-flex justify-content-center">
        <div class="container card m-2 bg-light text-center" style="width: 25rem;">
            <h5 class="row card-body d-flex justify-content-center">You don't have any booked slots!</h5>
        </div>
    </div>
    {% endif %}
</div>

{% endblock %}