{% extends "Booking/base.html" %}

{% block content %}
<div class="container bg-white p-5 mt-3">
    <div class="container-md justify-content-center d-flex">
        <div class="col-12">
            <h3 class="row-3 d-flex justify-content-center">Edit Appointments</h3>
            <p class="row-3 d-flex justify-content-center">You are editing appointments for {{ user.username }}</p>
        </div>
    </div>
    
        <form method="POST">
            <div class="d-flex justify-content-center">
                <div class="container card m-2 bg-light text-center" style="width: 18rem;">
                    <div class="row card-body d-flex justify-content-center">
                        {% csrf_token %}
                        {{ edit_form }}
                        <button class="btn btn-primary m-2">Update</button>
                    </div>
                </div>
            </div>
        </form> 
    </div>

{% endblock %}